.OmniEditorWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 32px;
    .DynamicLayout {
        flex: 1;
        margin: 0 32px;
    }

    .FieldAttrs {
        min-width: 200px;
    }

}